# Node
node_modules/
.pnpm-store/
.next/
.dist/
.env.local
.env
.env.local
.vercel/
.DS_Store

# Build outputs
out/
build/
build.log
*.tsbuildinfo

# Database
*.db
*.sqlite
pgdata/

# Editor files
.vscode/
.idea/
chat.json
.DS_Store
